
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css" />
  </head>
  <body>

  	<!-- Navigation -->
    <div class="top-bar">
      <div class="top-bar-left">
    		<ul class="menu">
        			<li class="active"><a href="overview.html">Overview</a></li>		

        			<li class=""><a href="create.html">Create</a></li>		



    		</ul>
    	</div>
  	</div>
  	<!-- /Navigation -->

    <div class="row">
      <div class="large-12 columns">
        <h1>Overview</h1>
      </div>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          <form method="post" action="javascript:;" onsubmit="onSubmit();" class="">


                <div class="row collapse">
                  <div class="large-10 columns">
                    <input class=""
                      type="text" name="Search" id="Search"
                      placeholder="Search..."
                      value=""/>
                  </div>
                </div>

                <div class="row collapse">
                  <div class="large-10 columns">
                    <input class="radius button"
                      type="submit" name="Submit" id="Submit"
                      placeholder=""
                      value="Search"/>
                  </div>
                </div>

          </form>
        </div>
      </div>
    </div>
    <!-- /Form -->

    <!-- Tables -->




        <div class="row">
          <div class="large-12 columns">
            <div class="large">
              <table id="Table" class="table large-12">
                <thead>
                  <th>ID</th>
<th>Description</th>
<th>Start</th>
<th>End</th>
<th>&nbsp;</th>
                </thead>
                <tbody>
                  <!--
Start of user code Table
                  Implement Custom Rows
End of user code
                  -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
    <!-- /Tables -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/what-input.min.js"></script>

    <script type="text/javascript">
      $(function() {

        //Start of user code onLoad
        // TODO: Implement
        //End of user code
      });
      
      function onSubmit() {
        //Start of user code onSubmit
        // TODO: Implement
        //End of user code
      }

      function DeleteRecord(id) {
        //Start of user code DeleteRecord
        // TODO: Implement
        //End of user code
      }

      function SearchRecord() {
        //Start of user code SearchRecord
        // TODO: Implement
        //End of user code
      }

      //Start of user code js_code
      // TODO: Implement
      //End of user code
    </script>
  </body>
</html>


