
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css" />
	<link rel="stylesheet" href="assets/foundation-icons.css" />
	<link rel="stylesheet" href="assets/foundation-datepicker.min.css" />
	<style>
	.menu li.active a {
		color: red;
	}
	</style>
  </head>
  <body>

  	<!-- Navigation -->
    <div class="top-bar">
      <div class="top-bar-left">
    		<ul class="menu">
        			<li class="active"><a href="Overview.html">Overview</a></li>

        			<li class=""><a href="Create.html">Create</a></li>



    		</ul>
    	</div>
		<div class="top-bar-right">
			<h2>moreco <i class="fi-mountains"></i></h2>
		</div>
  	</div>
  	<!-- /Navigation -->

    <div class="row">
      <div class="large-12 columns">
        <h1>Overview</h1>
      </div>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          <form method="post" action="javascript:;" onsubmit="onSubmit();" class="">


                <div class="row collapse">
                  <div class="large-10 columns">
                    <input class=""
                      type="text" name="Search" id="Search"
                      placeholder="Search..."
                      value=""/>
                  </div>
                </div>

                <div class="row collapse">
                  <div class="large-10 columns">
                    <input class="radius button"
                      type="submit" name="Submit" id="Submit"
                      placeholder=""
                      value="Search"/>
                  </div>
                </div>

          </form>
        </div>
      </div>
    </div>
    <!-- /Form -->

    <!-- Tables -->




        <div class="row">
          <div class="large-12 columns">
            <div class="large">
              <table id="Table" class="table large-12">
                <thead>
                  <th>ID</th>
<th>Description</th>
<th>Start</th>
<th>End</th>
<th>User</th>
<th>&nbsp;</th>
                </thead>
                <tbody>
                  <!--
Start of user code Table
                  Implement Custom Rows
End of user code
                  -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
    <!-- /Tables -->

    <script src="assets/jquery.min.js"></script>
    <script src="assets/foundation.min.js"></script>
    <script src="assets/what-input.min.js"></script>
   	<script src="assets/foundation-datepicker.min.js"></script>
    <script src="assets/moment.min.js"></script>

    <script type="text/javascript">
      $(function() {
        //Start of user code onLoad
        SearchRecord();
        //End of user code
      });

      function onSubmit() {
        //Start of user code onSubmit
        SearchRecord();
        //End of user code
      }

      function DeleteRecord(id) {
        //Start of user code DeleteRecord
        if (!Number.isInteger(id)) {
          return false;
        }

        $.ajax({
          dataType: "json",
          url: "http://localhost:8080/moreco/api/DeleteRecord/" + id,
          type: "GET"
        }).done(function(data) {
          $("#Table tbody #" + id).html("");
        });
        //End of user code
      }

      function SearchRecord() {
        //Start of user code SearchRecord
        search($("#Search").val());
        //End of user code
      }

      //Start of user code js_code
      function search(search) {
        var dataArray = {};
        if (search != '') {
          dataArray['searchParam'] = search;
        }

        $.ajax({
          dataType: "json",
          url: "http://localhost:8080/moreco/api/GetRecordList",
          type: "GET",
          data: dataArray
        }).done(function(data) {
          replaceTable(data);
        });

        return false;
      }

      function replaceTable(data) {
        var tableData = "";
        for(var i in data) {
          tableData += "<tr id='" + data[i].ID + "'>";
          tableData += "<td>" + data[i].ID + "</td>";
          tableData += "<td>" + data[i].Description + "</td>";
          tableData += "<td>" + moment(data[i].Start).format('DD.MM.YYYY HH:mm'); + "</td>";
          tableData += "<td>" + moment(data[i].End).format('DD.MM.YYYY HH:mm'); + "</td>";
          tableData += "<td>" + data[i].user.Username + "</td>";
          tableData += "<td><a href='#' onclick='DeleteRecord(" + data[i].ID + ")'>Delete</a></td>";
          tableData += "</tr>";
        }

        $("#Table tbody").html(tableData);
      }
      //End of user code
    </script>
  </body>
</html>
